h1{
    color:red;
    background-color: aquamarine;
    text-align: center;
}

table{
    background-color:aqua
}

body{
    background-image: url("../images/05.jpg")
}

h2{
    text-align: center;
    color:cadetblue;
    background-color:azure
}

ul{
    background-image: url("../images/04.jfif")
}
